.cards-container{
    text-align: center;
	justify-content: center;
	width: auto;
	display: flex;	
	flex-direction: row;		
	flex-wrap: wrap;		
	position: relative;	
    margin: 0px;
    padding: 0px;
	/*background: linear-gradient(  #040814 70%,rgba(0, 0, 0, 0));*/
}

.figure-container:hover{		
    z-index: 1;				
    box-shadow: 2px 2px 4px var(--main-primary), 10px 10px 10px var(--main-primary);							
}	
.figure-container{    
    background-color:#265CC0;
    border-radius: 2%;
    /*border: 1px solid white;*/    
    position: relative;
    max-width: 400px;    					
	min-width: 300px;	
	min-height: 100px;		
    width: max-content;
    height: max-content;
	max-height: 300px;
	overflow: hidden;	
    padding: 0px;
    margin: 0px;
}
.card2{
    background-color: #423C92;    
}
.card3{
    background-color: #1F5186;
}
#titulo-holder{
    margin: 0px;
    padding: 10px;
    background-color: #293299;    
    display:block;
    width: 100%;
}
#titulo-investor{
    margin: 0px;    
    padding: 10px;
    background-color: #293299;    
    display:block;
    width: 100%;
}
.retorno-mensual{
    padding-top: 10px;
    color: #4C8BDE;
}
.monto-recomendado{
    color: #6F98E7;
}
.precio-plan{
    color: #71C6F6;
}
.interes-compuesto{
    color: #80A8EE;
}
.mensual{
    color: #4986D6;
}
.acumulando{
    color: #A6E8AB;
    font-weight: 800;
}
.btn-figure{
    background-color:  #153BAA;
    color:  #538FF0;
}
.flexibilidad{
    color:  #457A9D;
}
.span-circulo{
    border-radius: 50%;
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    background-color: #27318A;        
    background-image: radial-gradient(to right, #196DE9,#502a914b, #00000010);
}
@media screen and (max-width: 700px){
    .figure-container{	
       	
    }
}