header{       
    font-family: 'Roboto', sans-serif; 
    width: 100%;   
    display: block;       
    z-index: 10000;  
    height: max-content;              
    background: transparent;      
    font-size: 1em;    
    padding-bottom: 1px;    
    position:relative;
    position: fixed;    
    /*backdrop-filter: blur(2px);*/
}
.borde{
    border: 1px solid rgb(234, 190, 63);  
}
.borde-azul{
    border: 1px solid rgb(100, 63, 234);  
}

/**/
.contenedor-info-header{        
    padding-top: 7px;
    width: 100%;    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;  
}
.contenedor-info-header div{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;    
    width: 300px;    
}
.contenedor-info-header div:nth-of-type(1) {
    flex-basis: 50px;
    width: 50px;
    height: 50px;
  }
  /**/
.cont-img-perfil{
    margin-left: 10px;                
    position: relative;     
    width: 100%;       
    height: auto;             
}
.cont-img-perfil img{
    width: 100px;
    display: block;
}

/**/
.nombre-nivel-perfil{    
    color:white;
    padding-left: 10px;    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;  
    width: 100%;       
}
.nombre-nivel-perfil div{  
    
}
.nombre-nivel-perfil h3{
    padding: -1px;    
    margin: -1px;
}
/*Medallas estrellas */
.cont-medalla-estrellas{    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0;
    margin-right: 0; 
    margin: 0;
    height: 1px;
    max-height: 30px;  
}
.cont-medalla-estrellas span{
    color:rgba(0, 0, 0, 0.219);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:10px;          
}

.estrella1{
    color: gold !important;
}
.estrella2{
    color: gold !important;
}
.estrella3{
    color: gold !important;
}
.fa-star{
    min-width: 15px;         
    max-width: 15x;    
}
.img-medalla{         
    min-width: 30px;         
    max-width: 30px;    
    
}

.nivel-fit{
    font-size: 0.7em !important;    
}
.w3-progress-container{   
    min-width: 95%;
    max-width: 95%;        
    max-height: 10px;      
}
#myBar{    
    max-height: 7px;
    min-height: 7px;
}
#demo{
    margin-top: -7px;
    position: absolute;
    right :10px;
}
.nombre-usuario{
    font-size: 1em;
}
.nivel-fit{
    font-size: 1em;
}

/*RESOLUCION ESCRITORIO*/
@media screen and (min-width: 700px){	

}
/*RESOLUCION MOVIL*/
@media screen and (max-width: 700px){	
    

}

