.div-interfaz-simulador{
    background-color: black;    
    color: white;        
    justify-content: center;
    text-align: center;
    padding: 50px;
    width: 100% ;
    position: absolute;
    z-index: 100;    
}
.div-valor-inversion{               
 
}
#formulario-simulador-inversion{
    justify-content: center;
    text-align: center;
    display:block;
    margin: auto;
}
#id-valor-inversion{
    justify-content: center;
    text-align: center;   
    max-width: 200px;    
    display: block; 
    margin: auto;
    padding: 0;
}
#select-meses-inversion{
   
}
.select-formulario-inversion{
    max-width: 200px;     
    display: block;
    margin: auto;
}
.display-block-margin-auto{
    display: block; 
    margin: auto;
}