:root {
	--main-primary: #000;
	--main-primary-dark: #000;
	--main-secondary: #000;
	--main-secondary-dark: #000;
}
body{		
	position: relative;
	font-family: 'Poppins', sans-serif;
	-webkit-user-select: none;			
	/*background-image: url(https://t4.ftcdn.net/jpg/04/64/93/89/240_F_464938922_BVaEHmTkrLR9KF0WECxXivICZZUSIrbu.jpg);*/
	/*
	background-image: url(https://img.freepik.com/foto-gratis/pared-edificio-ladrillo-negro-interior-loft-moderno-fondo-diseno_73152-5648.jpg?size=338&ext=jpg);	
	background-image: url(https://us.123rf.com/450wm/elovich/elovich1412/elovich141200421/34788179-textura-de-papel-fondo-negro.jpg?ver=69);
	background-image: url(https://image.freepik.com/vector-gratis/hexagono-fondo-abstracto-textura-negra_206725-413.jpg);		
	*/
	background: black;
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
/*	background-attachment: fixed;*/
	/*background-color:rgb(31, 30, 30);*/

}
main{					
	/*padding: 10px;			*/
	padding-top: 84px;
	
	/*background-color: rgb(20, 20, 20);*/
	/*background-image: url("https://us.123rf.com/450wm/romastudio/romastudio1812/romastudio181200216/117004062-material-deportivo-sobre-un-fondo-negro-vista-superior-motivaci%C3%B3n.jpg?ver=6");		
	*/
	background-image: url("../imgs/BGround.png");		
	background-repeat: no-repeat;
	background-attachment: fixed;	
	background-size: cover;	
	font-family: 'Roboto', sans-serif;
}
.degradado-elipse{
	background-image: radial-gradient(circle at 50% 0, rgba(0, 0, 0, 0) 40%, #040814 70%	);		
}
.degradado-elipse-morado{
	background-image: radial-gradient(circle at 50% 0, rgba(0, 0, 0, 0) 40%, #040814 70%	);		
}

a{
	color: var(--main-primary);	
}
article{	
	margin-top: 10px;	
	position: relative;	
	
}
.quitar-float{
	float: none;
} 
.center {
  margin: auto;
  width: 100%;
  border: none;
  /*border: 3px solid green;*/
  padding: 10px;
}
.espacio-arriba{
	margin-top:50px;
}
.fuente-kaushan{
	font-family: 'Kaushan Script', cursive;
}
.fuente-lato{
	font-family: 'Kaushan Script', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Zilla Slab', serif;
}
.fuente-tam{
	font-size: 3.5em;	
}
.color-verde{
	color: var(--main-primary);
}
.margen-derecha{
	margin-right: 1em;
}
.fondo-gris{
	background-color: #eee;
}


.no-lista{
	margin:	0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
.padding-largo{
	padding: 5px 10px;
}
.inline-block-barra{
	float:none;	
	display: inline-block;	
	margin-right: -4px;
}
.inline-block{
	float:none;	
	display: inline-flex;	
}
.img-tam{
	max-width: 100%;
}
.fuente-tam-mediano{
	font-size: 1.5em;
}
.fuente-tam-mediogrande{
	font-size: 2em;
}
.fuente-color-negro{
	color: #000000;
}
.restraso-uno{
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;	
}
.restraso-2{	
	animation-delay: 2s;
}
h1{
	animation-delay: 0.5s;
}
li{

    text-decoration: none;
}
a{
    text-decoration: none;
}

h2{
	animation-delay: 2s;
}
#div-index{
	animation-delay: 1s;	
}
.img-tam-mediano{
	max-width: 50%;
}
.animacion-adelanto-1{
	animation-delay: -1s;
}
#h1-menu{
	animation-delay: -0.01s;
}
#img-articulo{
	animation-delay: 0.5s;
}

/*	INFO CONTAINER INFORMACION NORMAL DE LA PAGINA WEB*/



.div-imagen{	
	width: 100%;	
	
}

.div-imagen{
  width: 100%;  
  display: block; 
}
img{
	width: 100%;	
}
.div-detalles-producto{	
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: auto;
	text-align: center;
}


#iframe-map{		
	width : 600px;
	height : 500px;
	border-radius: 10px;
}	

.nav-barra-inferior{
	padding: 0px 0px 0px 0px;
	text-align: center;		
	margin-top: 10px;
}


.desaparecer-contenedor{
	display: none;
	opacity: 0;
	
}
.aparecer-contenedor{	
	position: relative;
	z-index: 1;
	display: block;
	opacity: 1;
}


#btn-detalles{			
	color: var(--main-primary);		
	font-size: 2em;
	position: fixed;		
	bottom: 48px;	
	right: 7.5px;
	opacity: 0.5;		
	z-index: 30;
	
}	

#btn-detalles:active{						
	
	opacity: 1;								
}	
/* fuente, parrafos. textos, titulos */
.titulos{

}
.subtitulos{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em; 
    font-weight: 900;	
    color: #B1ADC4;
}
.parrafos-texto{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em; 
    color: #B1ADC4; 
    letter-spacing: 2px;
}	


.grad-blue{    
    background-color: rgba(128, 0, 128, 0.26); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #196DE9,#502a914b, #00000010);
  }
.grad-purple-org{    
    background-color: rgb(128, 0, 128); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #8a2687,#4f2a91, #010005);
  }
.grad-purple{    
    background-color: rgba(23, 0, 128, 0.185); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #8a2687f1,#502a914b, #00000010);
  }
.grad-gold{    
    background-color: gold; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, gold,rgb(240, 214, 66), gold);
}

.grad-red{    
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #f00606,#bd0000, #2a0303);
  }

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/

/*movil///////////////////////////////////////////*/
/*movil///////////////////////////////////////////*/
@media screen and (max-width: 700px){	 

	#btn-detalles{			
		color: var(--main-primary);		
		font-size: 2em;
		position: fixed;		
		bottom: 48px;	
		right: 7.5px;
		opacity: 0.5;		
		z-index: 30;
		
	}	

	#btn-detalles:active{								
		opacity: 1;						
	}		

	#beepc{			
		color: var(--main-primary);		
		font-size: 2em;
		position: fixed;		
		bottom: 2px ;	
		right: 7.5px;
		opacity: 0.5;		
		z-index: 30;
		
	}	

	#beepc:active{									
		opacity: 1;						
	}		

	#img-home{	
		margin-top: -20px;	
		min-width: 340px; 
		min-height: auto;		
		padding-left: -20px;						
		/*box-shadow: 0px 0px 40px -5px; 	*/
		box-shadow: none;	
	}

	.img-logo{
		width: 20%;		
	}		

	#iframe-map{		
		width : 350px;
		height : 350px;		
	}
	#img-calidad{
		width: 100%; ; 
		margin: auto; 
	}
	
	.img-tercio{
		width: 100%;
		margin: auto;
	}
		
	
}
/*/////////////ESCRITORIO/////////////////////////////////////////////////*/
@media screen and (min-width: 700px){		
			
}
	/*/////////////MOVILLL/////////////////////////////////////////////////*/
@media screen and (min-width: 1000px){
	main{
		background-size: cover;		
		
	}	
	
	
}
	
	
